src/wsdl/AccessControl_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rasea.org/ps/wsdl/AccessControl_v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rasea.org/ps/wsdl/AccessControl_v1" name="AccessControlService_v1">
<types>
<xsd:schema>
<xsd:import namespace="http://rasea.org/ps/wsdl/AccessControl_v1" schemaLocation="http://localhost:8081/rasea-server/services/AccessControl_v1?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://rasea.org/http://rasea.org/ps/wsdl/WebServiceException_v1" schemaLocation="http://localhost:8081/rasea-server/services/AccessControl_v1?xsd=2" />
</xsd:schema>
</types>
<message name="authenticate">
<part name="authenticate" element="tns:authenticate" />
</message>
<message name="authenticateResponse">
<part name="authenticated" element="tns:authenticated" />
</message>
<message name="WebServiceFault">
<part xmlns:ns1="http://rasea.org/http://rasea.org/ps/wsdl/WebServiceException_v1" name="fault" element="ns1:WebServiceFault" />
</message>
<message name="rolePermissions">
<part name="rolePermissions" element="tns:rolePermissions" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="rolePermissionsResponse">
<part name="permissions" element="tns:permissions" />
</message>
<message name="changePassword">
<part name="changePassword" element="tns:changePassword" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="changePasswordResponse">
<part name="changed" element="tns:changed" />
</message>
<message name="listUsers">
<part name="listUsers" element="tns:listUsers" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="listUsersResponse">
<part name="users" element="tns:users" />
</message>
<message name="listRoles">
<part name="listRoles" element="tns:listRoles" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="listRolesResponse">
<part name="roles" element="tns:roles" />
</message>
<message name="resetPassword">
<part name="resetPassword" element="tns:resetPassword" />
</message>
<message name="resetPasswordResponse">
<part name="reseted" element="tns:reseted" />
</message>
<message name="userPermissions">
<part name="userPermissions" element="tns:userPermissions" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="userPermissionsResponse">
<part name="permissions" element="tns:permissions" />
</message>
<message name="assignedRoles">
<part name="assignedRoles" element="tns:assignedRoles" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="assignedRolesResponse">
<part name="roles" element="tns:roles" />
</message>
<message name="assignedUsers">
<part name="assignedUsers" element="tns:assignedUsers" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="assignedUsersResponse">
<part name="users" element="tns:users" />
</message>
<message name="requestConfirmationCode">
<part name="requestConfirmationCode" element="tns:requestConfirmationCode" />
</message>
<message name="requestConfirmationCodeResponse">
<part name="requested" element="tns:requested" />
</message>
<message name="roleDetail">
<part name="roleDetail" element="tns:roleDetail" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="roleDetailResponse">
<part name="role" element="tns:role" />
</message>
<message name="roleOperationsOnResource">
<part name="roleOperationsOnResource" element="tns:roleOperationsOnResource" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="roleOperationsOnResourceResponse">
<part name="operations" element="tns:operations" />
</message>
<message name="unassignedRoles">
<part name="unassignedRoles" element="tns:unassignedRoles" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="unassignedRolesResponse">
<part name="roles" element="tns:roles" />
</message>
<message name="userDetail">
<part name="userDetail" element="tns:userDetail" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="userDetailResponse">
<part name="user" element="tns:user" />
</message>
<message name="userOperationsOnResource">
<part name="userOperationsOnResource" element="tns:userOperationsOnResource" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="userOperationsOnResourceResponse">
<part name="operations" element="tns:operations" />
</message>
<portType name="AccessControl_v1">
<operation name="authenticate">
<input message="tns:authenticate" />
<output message="tns:authenticateResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="rolePermissions" parameterOrder="rolePermissions arg1">
<input message="tns:rolePermissions" />
<output message="tns:rolePermissionsResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="changePassword" parameterOrder="changePassword arg1">
<input message="tns:changePassword" />
<output message="tns:changePasswordResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="listUsers" parameterOrder="listUsers arg1">
<input message="tns:listUsers" />
<output message="tns:listUsersResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="listRoles" parameterOrder="listRoles arg1">
<input message="tns:listRoles" />
<output message="tns:listRolesResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="resetPassword">
<input message="tns:resetPassword" />
<output message="tns:resetPasswordResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="userPermissions" parameterOrder="userPermissions arg1">
<input message="tns:userPermissions" />
<output message="tns:userPermissionsResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="assignedRoles" parameterOrder="assignedRoles arg1">
<input message="tns:assignedRoles" />
<output message="tns:assignedRolesResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="assignedUsers" parameterOrder="assignedUsers arg1">
<input message="tns:assignedUsers" />
<output message="tns:assignedUsersResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="requestConfirmationCode">
<input message="tns:requestConfirmationCode" />
<output message="tns:requestConfirmationCodeResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="roleDetail" parameterOrder="roleDetail arg1">
<input message="tns:roleDetail" />
<output message="tns:roleDetailResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="roleOperationsOnResource" parameterOrder="roleOperationsOnResource arg1">
<input message="tns:roleOperationsOnResource" />
<output message="tns:roleOperationsOnResourceResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="unassignedRoles" parameterOrder="unassignedRoles arg1">
<input message="tns:unassignedRoles" />
<output message="tns:unassignedRolesResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="userDetail" parameterOrder="userDetail arg1">
<input message="tns:userDetail" />
<output message="tns:userDetailResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="userOperationsOnResource" parameterOrder="userOperationsOnResource arg1">
<input message="tns:userOperationsOnResource" />
<output message="tns:userOperationsOnResourceResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
</portType>
<binding name="AccessControlPort_v1Binding" type="tns:AccessControl_v1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="authenticate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="rolePermissions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="rolePermissions" />
<soap:header message="tns:rolePermissions" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="changePassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="changePassword" />
<soap:header message="tns:changePassword" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="listUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="listUsers" />
<soap:header message="tns:listUsers" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="listRoles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="listRoles" />
<soap:header message="tns:listRoles" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="resetPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="userPermissions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="userPermissions" />
<soap:header message="tns:userPermissions" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="assignedRoles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="assignedRoles" />
<soap:header message="tns:assignedRoles" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="assignedUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="assignedUsers" />
<soap:header message="tns:assignedUsers" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="requestConfirmationCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="roleDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="roleDetail" />
<soap:header message="tns:roleDetail" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="roleOperationsOnResource">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="roleOperationsOnResource" />
<soap:header message="tns:roleOperationsOnResource" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="unassignedRoles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="unassignedRoles" />
<soap:header message="tns:unassignedRoles" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="userDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="userDetail" />
<soap:header message="tns:userDetail" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="userOperationsOnResource">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="userOperationsOnResource" />
<soap:header message="tns:userOperationsOnResource" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
</binding>
<service name="AccessControlService_v1">
<port name="AccessControlPort_v1" binding="tns:AccessControlPort_v1Binding">
<soap:address location="http://localhost:8081/rasea-server/services/AccessControl_v1" />
</port>
</service>
</definitions>