src/wsdl/Maintenance_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rasea.org/ps/wsdl/Maintenance_v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rasea.org/ps/wsdl/Maintenance_v1" name="MaintenanceService_v1">
<types>
<xsd:schema>
<xsd:import namespace="http://rasea.org/ps/wsdl/Maintenance_v1" schemaLocation="http://localhost:8081/rasea-server/services/Maintenance_v1?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://rasea.org/http://rasea.org/ps/wsdl/WebServiceException_v1" schemaLocation="http://localhost:8081/rasea-server/services/Maintenance_v1?xsd=2" />
</xsd:schema>
</types>
<message name="addOperation">
<part name="addOperation" element="tns:addOperation" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="addOperationResponse" />
<message name="WebServiceFault">
<part xmlns:ns1="http://rasea.org/http://rasea.org/ps/wsdl/WebServiceException_v1" name="fault" element="ns1:WebServiceFault" />
</message>
<message name="addResource">
<part name="addResource" element="tns:addResource" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="addResourceResponse" />
<message name="addPermission">
<part name="addPermission" element="tns:addPermission" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="addPermissionResponse" />
<message name="addApplication">
<part name="addApplication" element="tns:addApplication" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="addApplicationResponse" />
<message name="deletePermission">
<part name="deletePermission" element="tns:deletePermission" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deletePermissionResponse" />
<message name="applicationDetail">
<part name="applicationDetail" element="tns:applicationDetail" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="applicationDetailResponse">
<part name="application" element="tns:application" />
</message>
<message name="assignOwner">
<part name="assignOwner" element="tns:assignOwner" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="assignOwnerResponse" />
<message name="deassignOwner">
<part name="deassignOwner" element="tns:deassignOwner" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deassignOwnerResponse" />
<message name="deleteApplication">
<part name="deleteApplication" element="tns:deleteApplication" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deleteApplicationResponse" />
<message name="deleteOperation">
<part name="deleteOperation" element="tns:deleteOperation" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deleteOperationResponse" />
<message name="deleteResource">
<part name="deleteResource" element="tns:deleteResource" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deleteResourceResponse" />
<message name="operationDetail">
<part name="operationDetail" element="tns:operationDetail" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="operationDetailResponse">
<part name="operation" element="tns:operation" />
</message>
<message name="resourceDetail">
<part name="resourceDetail" element="tns:resourceDetail" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="resourceDetailResponse">
<part name="resource" element="tns:resource" />
</message>
<message name="resourceOperations">
<part name="resourceOperations" element="tns:resourceOperations" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="resourceOperationsResponse">
<part name="operations" element="tns:operations" />
</message>
<portType name="Maintenance_v1">
<operation name="addOperation" parameterOrder="addOperation arg1">
<input message="tns:addOperation" />
<output message="tns:addOperationResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="addResource" parameterOrder="addResource arg1">
<input message="tns:addResource" />
<output message="tns:addResourceResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="addPermission" parameterOrder="addPermission arg1">
<input message="tns:addPermission" />
<output message="tns:addPermissionResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="addApplication" parameterOrder="addApplication arg1">
<input message="tns:addApplication" />
<output message="tns:addApplicationResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deletePermission" parameterOrder="deletePermission arg1">
<input message="tns:deletePermission" />
<output message="tns:deletePermissionResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="applicationDetail" parameterOrder="applicationDetail arg1">
<input message="tns:applicationDetail" />
<output message="tns:applicationDetailResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="assignOwner" parameterOrder="assignOwner arg1">
<input message="tns:assignOwner" />
<output message="tns:assignOwnerResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deassignOwner" parameterOrder="deassignOwner arg1">
<input message="tns:deassignOwner" />
<output message="tns:deassignOwnerResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deleteApplication" parameterOrder="deleteApplication arg1">
<input message="tns:deleteApplication" />
<output message="tns:deleteApplicationResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deleteOperation" parameterOrder="deleteOperation arg1">
<input message="tns:deleteOperation" />
<output message="tns:deleteOperationResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deleteResource" parameterOrder="deleteResource arg1">
<input message="tns:deleteResource" />
<output message="tns:deleteResourceResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="operationDetail" parameterOrder="operationDetail arg1">
<input message="tns:operationDetail" />
<output message="tns:operationDetailResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="resourceDetail" parameterOrder="resourceDetail arg1">
<input message="tns:resourceDetail" />
<output message="tns:resourceDetailResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="resourceOperations" parameterOrder="resourceOperations arg1">
<input message="tns:resourceOperations" />
<output message="tns:resourceOperationsResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
</portType>
<binding name="MaintenancePort_v1Binding" type="tns:Maintenance_v1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addOperation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="addOperation" />
<soap:header message="tns:addOperation" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="addResource">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="addResource" />
<soap:header message="tns:addResource" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="addPermission">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="addPermission" />
<soap:header message="tns:addPermission" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="addApplication">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="addApplication" />
<soap:header message="tns:addApplication" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deletePermission">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deletePermission" />
<soap:header message="tns:deletePermission" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="applicationDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="applicationDetail" />
<soap:header message="tns:applicationDetail" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="assignOwner">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="assignOwner" />
<soap:header message="tns:assignOwner" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deassignOwner">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deassignOwner" />
<soap:header message="tns:deassignOwner" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deleteApplication">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deleteApplication" />
<soap:header message="tns:deleteApplication" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deleteOperation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deleteOperation" />
<soap:header message="tns:deleteOperation" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deleteResource">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deleteResource" />
<soap:header message="tns:deleteResource" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="operationDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="operationDetail" />
<soap:header message="tns:operationDetail" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="resourceDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="resourceDetail" />
<soap:header message="tns:resourceDetail" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="resourceOperations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="resourceOperations" />
<soap:header message="tns:resourceOperations" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
</binding>
<service name="MaintenanceService_v1">
<port name="MaintenancePort_v1" binding="tns:MaintenancePort_v1Binding">
<soap:address location="http://localhost:8081/rasea-server/services/Maintenance_v1" />
</port>
</service>
</definitions>