src/wsdl/Management_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rasea.org/ps/wsdl/Management_v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rasea.org/ps/wsdl/Management_v1" name="ManagementService_v1">
<types>
<xsd:schema>
<xsd:import namespace="http://rasea.org/ps/wsdl/Management_v1" schemaLocation="http://localhost:8081/rasea-server/services/Management_v1?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://rasea.org/http://rasea.org/ps/wsdl/WebServiceException_v1" schemaLocation="http://localhost:8081/rasea-server/services/Management_v1?xsd=2" />
</xsd:schema>
</types>
<message name="addUser">
<part name="addUser" element="tns:addUser" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="addUserResponse" />
<message name="WebServiceFault">
<part xmlns:ns1="http://rasea.org/http://rasea.org/ps/wsdl/WebServiceException_v1" name="fault" element="ns1:WebServiceFault" />
</message>
<message name="addRole">
<part name="addRole" element="tns:addRole" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="addRoleResponse" />
<message name="deleteUser">
<part name="deleteUser" element="tns:deleteUser" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deleteUserResponse" />
<message name="enableUser">
<part name="enableUser" element="tns:enableUser" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="enableUserResponse" />
<message name="disableUser">
<part name="disableUser" element="tns:disableUser" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="disableUserResponse" />
<message name="deleteRole">
<part name="deleteRole" element="tns:deleteRole" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deleteRoleResponse" />
<message name="grantPermission">
<part name="grantPermission" element="tns:grantPermission" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="grantPermissionResponse" />
<message name="revokePermission">
<part name="revokePermission" element="tns:revokePermission" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="revokePermissionResponse" />
<message name="assignUser">
<part name="assignUser" element="tns:assignUser" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="assignUserResponse" />
<message name="deassignUser">
<part name="deassignUser" element="tns:deassignUser" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="deassignUserResponse" />
<message name="disableRole">
<part name="disableRole" element="tns:disableRole" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="disableRoleResponse" />
<message name="enableRole">
<part name="enableRole" element="tns:enableRole" />
<part name="arg1" element="tns:arg1" />
</message>
<message name="enableRoleResponse" />
<portType name="Management_v1">
<operation name="addUser" parameterOrder="addUser arg1">
<input message="tns:addUser" />
<output message="tns:addUserResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="addRole" parameterOrder="addRole arg1">
<input message="tns:addRole" />
<output message="tns:addRoleResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deleteUser" parameterOrder="deleteUser arg1">
<input message="tns:deleteUser" />
<output message="tns:deleteUserResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="enableUser" parameterOrder="enableUser arg1">
<input message="tns:enableUser" />
<output message="tns:enableUserResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="disableUser" parameterOrder="disableUser arg1">
<input message="tns:disableUser" />
<output message="tns:disableUserResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deleteRole" parameterOrder="deleteRole arg1">
<input message="tns:deleteRole" />
<output message="tns:deleteRoleResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="grantPermission" parameterOrder="grantPermission arg1">
<input message="tns:grantPermission" />
<output message="tns:grantPermissionResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="revokePermission" parameterOrder="revokePermission arg1">
<input message="tns:revokePermission" />
<output message="tns:revokePermissionResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="assignUser" parameterOrder="assignUser arg1">
<input message="tns:assignUser" />
<output message="tns:assignUserResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="deassignUser" parameterOrder="deassignUser arg1">
<input message="tns:deassignUser" />
<output message="tns:deassignUserResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="disableRole" parameterOrder="disableRole arg1">
<input message="tns:disableRole" />
<output message="tns:disableRoleResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
<operation name="enableRole" parameterOrder="enableRole arg1">
<input message="tns:enableRole" />
<output message="tns:enableRoleResponse" />
<fault message="tns:WebServiceFault" name="WebServiceFault" />
</operation>
</portType>
<binding name="ManagementPort_v1Binding" type="tns:Management_v1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="addUser" />
<soap:header message="tns:addUser" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="addRole">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="addRole" />
<soap:header message="tns:addRole" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deleteUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deleteUser" />
<soap:header message="tns:deleteUser" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="enableUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="enableUser" />
<soap:header message="tns:enableUser" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="disableUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="disableUser" />
<soap:header message="tns:disableUser" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deleteRole">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deleteRole" />
<soap:header message="tns:deleteRole" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="grantPermission">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="grantPermission" />
<soap:header message="tns:grantPermission" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="revokePermission">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="revokePermission" />
<soap:header message="tns:revokePermission" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="assignUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="assignUser" />
<soap:header message="tns:assignUser" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="deassignUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="deassignUser" />
<soap:header message="tns:deassignUser" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="disableRole">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="disableRole" />
<soap:header message="tns:disableRole" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
<operation name="enableRole">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="enableRole" />
<soap:header message="tns:enableRole" part="arg1" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="WebServiceFault">
<soap:fault name="WebServiceFault" use="literal" />
</fault>
</operation>
</binding>
<service name="ManagementService_v1">
<port name="ManagementPort_v1" binding="tns:ManagementPort_v1Binding">
<soap:address location="http://localhost:8081/rasea-server/services/Management_v1" />
</port>
</service>
</definitions>